<!DOCTYPE html>
<html>
<head>
    <title>Cake recipe</title>
</head>
<body>
<h1>Cake Recipe</h1>
<h3>Ingredients</h3>
<ul type="square">
<li>3 eggs</li>
<li>200 grams sugar</li>
<li>100 grams butter</li>
<li>150 grams flour</li>
<li>2 tablespoon cocoa powder</li>
<li>100 ml milk</li>
</ul>
<h3>Instructions</h3>
<ol type="I">
<li>First take an egg and beat it</li>
<li>then mix all the ingredients together and create a batter</li>
<li>preheat the oven at 250 degrees</li>
<li>put the cake in and let it bake</li>
<li>viola!your delicious cake is ready</li>
<img src="/static/Brownies.jpeg"
</ol>
</body>
</html>