<!DOCTYPE html>
<html>
<body>
<form>
<label for="milk">Milk
<input type="checkbox" id="milk" name="grocerylist">
</label>
<label for="sugar">Sugar
    <input type="checkbox" id="sugar" name="grocerylist">
</label>
<label for="vegetables">Vegetables
    <input type="checkbox" id="vegetables" name="grocerylist">
</label>
<label for="jaggery">Jaggery
    <input type="checkbox" id="jaggery" name="grocerylist">
</label>
<label for="egg">Egg
<input type="checkbox" id="egg" name="grocerylist">

</label>
<label for="biscuits">Biscuits
<input type="checkbox" id="biscuits" name="groceylist">

</label>
<label for="noodles">Noodles
<input type="checkbox" id="noodles" name="grocerylist">
</label>
</form>


</body>
</html>