<!DOCTYPE html>
<html>
<head>
    <title>My favourite movies</title>
</head>
<body>
<div>
    <h1>Avengers Endgame</h1>
    <p>Adrift in space with no food or water, Tony Stark sends a message to Pepper Potts as his oxygen supply starts to dwindle.
         Meanwhile, the remaining Avengers must find a way to bring back their disintegrated allies for an epic showdown with Thanos -- the demigod who brought the Decimation to the planet and the universe.</p>
</div>
<div>
<h1>How to train your dragon 3</h1>
<p>From DreamWorks Animation comes a surprising tale about growing up, finding the courage to face the unknown…and how nothing can ever train you to let go.
     What began as an unlikely friendship between an adolescent Viking and a fearsome Night Fury dragon has become an epic adventure spanning their lives.
      Welcome to the most astonishing chapter of one of the most beloved animated franchises in film history: How to Train Your Dragon: The Hidden World.
       Now chief and ruler of Berk alongside Astrid, Hiccup has created a gloriously chaotic dragon utopia. When the sudden appearance of female Light Fury coincides with the darkest threat their village has ever faced, Hiccup and Toothless must leave the only home they’ve known and journey to a hidden world thought only to exist in myth.
     As their true destines are revealed, dragon and rider will fight together--to the very ends of the Earth--to protect everything they’ve grown to treasure.</p>

</div>

</body>







</html>