<!DOCTYPE html>
<html>
<head>
<style>
    body {
    margin:45px;
    padding: 30px;
    border:7px rgb(0,0,0)double;
    background-image:linear-gradient(rgb(133, 168, 243),rgb(159, 212, 243));
    font-size:27px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    h3 {text-align:center}
    h4{text-align:center}
</style>
</head>
<body>
<h3>About Me</h3>
<p>Hi, my name is Ayushman Pandey. I am 10 years old. I am from India but I live in Abu Dhabi.  I am a student in grave five 
    of Al Saad Indian school. I have been learning coding in givemefive for about 2 years. </p>

<h4>My Hobbies</h4>
<ul>
<li>Coding</li>
<li>Swimming</li>
<li>Playing Piano</li>
<li>Reading books</li>
<li>Playing Football</li>
</ul>

</body>

</html>