<!DOCTYPE html>
<html>
<head>
    <title>Simple registration forms</title>
</head>
<body>
<h1>Fill the details below</h1>
<form>
<label for="text">
    Enter your username
<input type="text" id="text" name="text">
</label>

<label for="tel">
   Enter your telephone number
   <input type="tel" id="tel" name="tel">
</label>
<label for="email">
    Enter your Email adress
<input type="email" id="email" name="email">
</label>
<label for="password">
Create your own password 
<input type="password" id="password" name="password">
</label>
</form>
</body>

</html>